In [1]:
import pandas as pd
import numpy as np

In [7]:
#Загрузка датасета
df = pd.read_csv('vgsales_10.csv')
#Просмотр и исследование датасета
df.info()
df.shape
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          547 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     551 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.7+ KB

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14941,Stake: Fortune Fighters,XB,2003.0,Fighting,Metro 3D,0.02,0.01,0.00,0.00,0.02
1,9817,Street Hoops,GC,NaN,Sports,Unknown,0.09,0.02,0.00,0.00,0.12
2,9224,Wild ARMs XF,PSP,2007.0,Role-Playing,505 Games,0.07,0.00,0.06,0.01,0.14
3,15756,Memories Off: Yubikiri no Kikou,PSP,2011.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
4,1398,Hannah Montana: Spotlight World Tour,Wii,2007.0,Action,Disney Interactive Studios,0.87,0.38,0.00,0.13,1.39
...,...,...,...,...,...,...,...,...,...,...,...
548,14766,Infinite Stratos 2: Ignition Hearts,PS3,2014.0,Adventure,5pb,0.00,0.00,0.03,0.00,0.03
549,9554,Backyard Baseball,GC,2003.0,Sports,Infogrames,0.10,0.03,0.00,0.00,0.13
550,2693,Driv3r,XB,2004.0,Racing,Atari,0.36,0.38,0.00,0.03,0.76
551,6026,Top Gear Overdrive,N64,1998.0,Racing,Kemco,0.23,0.06,0.00,0.00,0.29
552,10313,Langrisser IV,SAT,1997.0,Strategy,NCS,0.00,0.00,0.11,0.00,0.11

In [9]:
#Обработка датасета

#Удаление хотя бы одного признака
df.drop(columns=['Other_Sales'])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Global_Sales
0,14941,Stake: Fortune Fighters,XB,2003.0,Fighting,Metro 3D,0.02,0.01,0.00,0.02
1,9817,Street Hoops,GC,NaN,Sports,Unknown,0.09,0.02,0.00,0.12
2,9224,Wild ARMs XF,PSP,2007.0,Role-Playing,505 Games,0.07,0.00,0.06,0.14
3,15756,Memories Off: Yubikiri no Kikou,PSP,2011.0,Adventure,5pb,0.00,0.00,0.02,0.02
4,1398,Hannah Montana: Spotlight World Tour,Wii,2007.0,Action,Disney Interactive Studios,0.87,0.38,0.00,1.39
...,...,...,...,...,...,...,...,...,...,...
548,14766,Infinite Stratos 2: Ignition Hearts,PS3,2014.0,Adventure,5pb,0.00,0.00,0.03,0.03
549,9554,Backyard Baseball,GC,2003.0,Sports,Infogrames,0.10,0.03,0.00,0.13
550,2693,Driv3r,XB,2004.0,Racing,Atari,0.36,0.38,0.00,0.76
551,6026,Top Gear Overdrive,N64,1998.0,Racing,Kemco,0.23,0.06,0.00,0.29
552,10313,Langrisser IV,SAT,1997.0,Strategy,NCS,0.00,0.00,0.11,0.11

In [10]:
#Замена значений
df = df.replace({'Platform' : 'PSP'}, 'psp')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14941,Stake: Fortune Fighters,XB,2003.0,Fighting,Metro 3D,0.02,0.01,0.00,0.00,0.02
1,9817,Street Hoops,GC,NaN,Sports,Unknown,0.09,0.02,0.00,0.00,0.12
2,9224,Wild ARMs XF,psp,2007.0,Role-Playing,505 Games,0.07,0.00,0.06,0.01,0.14
3,15756,Memories Off: Yubikiri no Kikou,psp,2011.0,Adventure,5pb,0.00,0.00,0.02,0.00,0.02
4,1398,Hannah Montana: Spotlight World Tour,Wii,2007.0,Action,Disney Interactive Studios,0.87,0.38,0.00,0.13,1.39
...,...,...,...,...,...,...,...,...,...,...,...
548,14766,Infinite Stratos 2: Ignition Hearts,PS3,2014.0,Adventure,5pb,0.00,0.00,0.03,0.00,0.03
549,9554,Backyard Baseball,GC,2003.0,Sports,Infogrames,0.10,0.03,0.00,0.00,0.13
550,2693,Driv3r,XB,2004.0,Racing,Atari,0.36,0.38,0.00,0.03,0.76
551,6026,Top Gear Overdrive,N64,1998.0,Racing,Kemco,0.23,0.06,0.00,0.00,0.29
552,10313,Langrisser IV,SAT,1997.0,Strategy,NCS,0.00,0.00,0.11,0.00,0.11

In [11]:
# Использование простейшего подстановщика
df = pd.DataFrame(
    [['PS3', 'Adventure', 1],
    ['GC', 'Sports',],
    ['SAT', 'Strategy',]],
    columns=['Platform', 'Genre', 'INT'])
df

  Platform      Genre  INT
0      PS3  Adventure  1.0
1       GC     Sports  NaN
2      SAT   Strategy  NaN

In [16]:
#Выбрать один признак в качестве целевой переменной и обосновать данный выбор
from sklearn.impute import SimpleImputer

simp = SimpleImputer(missing_values=np.nan)
simp = simp.fit(df[['INT']])

df['INT'] = simp.transform(df[['INT']])
df.isnull().mean()
#Число

Platform    0.0
Genre       0.0
INT         0.0
dtype: float64

In [17]:
#Написать заключение по проведенному исследованию
# Было интересно

#Сохранить датасет
df.to_csv('Ogurcov.csv', index=False)